<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style/index.css"/>
</head>
<body>
<div class="login hide-login">
    <form class="login-container hide-form" method="POST" action="login">
       
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5QTVISP3-5_PEC0syhBohlFI_5f2KqLAxYIGkYTSUJ0S6rCc6usvGx9xFylFQ2Cy9E6I&usqp=CAU" alt="" />
       <div class="input-container hide-section">
        <p><h2>login form</h2></p>
          <p><input type="email" placeholder="Email" name="email" /></p>
          <p><input type="password" placeholder="Password" name="password" /></p>
          <p><input type="button" value="Log in" /></p>
       </div>
    </form>
 </div>
 <script src="js/animanition.js"></script>
    
</body>
</html>


